@import "tailwindcss";


@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/MinecraftRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/MinecraftItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/MinecraftBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/MinecraftBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Minecraft-Title';
  src: url('/fonts/MinecraftTitle.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-minecraft: 'Minecraft', sans-serif;
  --font-minecraft-title: 'Minecraft-Title', sans-serif;
}